@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Libre+Caslon+Text:wght@400;700&display=swap");

body {
  background-color: #01000e;
  font-family: "Libre Caslon Text", serif;
  font-weight: 400;
  color: $white-color;
  font-size: 16px;

  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 3rem;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 3rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

:root {
  scroll-behavior: smooth;
}

.wow-late {
  animation-duration: 1.75s;
}
