.hero {
  position: relative;
  overflow: hidden;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 32px;
    margin-top: 70px;
  }

  &__card {
    position: relative;
    width: calc(100% / 3);

    &__image {
      width: auto;
      height: 544px;
      overflow: hidden;
      border-radius: 53px;
      box-shadow: -1px -6px 25.9px 0px #d6faff85;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &.first {
        border-bottom-right-radius: 0px;
      }

      &.middle {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      &.last {
        border-bottom-left-radius: 0px;
      }
    }

    &__content {
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
    }

    &__icon {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #07002b;
      border: 4px solid $white-color;

      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
      }
    }

    &__title {
      font-size: 36px;
      text-align: center;
    }

    &__paragraph {
      margin: 0;
      padding-inline: 16px;
      text-align: center;
    }
  }

  &::after,
  &::before {
    content: "";
    background-image: url(../images/hero/shape.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0 0 115px #7b61ff);
  }

  &::after {
    top: 5%;
    right: -20px;
  }

  &::before {
    bottom: 15%;
    left: -30px;
  }
}

.beforeAfter-section {
  &__header {
    text-align: center;
    font-size: 64px;
    margin-bottom: 32px;
  }

  .beforeAfter {
    width: 700px;
    margin-bottom: 32px;

    &.left {
      margin-inline-start: auto;
    }

    img {
      width: 700px;
    }
  }
}

.contact-us {
  position: relative;

  &__img {
    width: 900px;
    height: 900px;
    margin-inline: auto;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: "";
      background-image: url(../images/contact-us/shape.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: block;
      width: 600px;
      height: 600px;
      position: absolute;
      z-index: -1;
      filter: drop-shadow(0 0 115px #7b61ff);
      top: 20%;
      left: -10%;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 10%;

    h5 {
      font-size: 64px;
    }

    .book-now {
      padding: 0.5em 1em;
      border-radius: 0.5em;
      background-color: $primary-color;
      border: 0;

      a {
        color: $white-color;
      }
    }
  }
}

.gallery {
  position: relative;

  &__header {
    font-size: 64px;
    text-align: center;
  }

  &__item {
    border-radius: 18px;
    overflow: hidden;
    position: relative;

    &:hover {
      img {
        height: 125%;
      }

      a {
        visibility: visible;
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: 250px;
      object-fit: cover;
      transition: all 0.3s ease-in-out;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #00000080;
      position: absolute;
      inset: 0;
      font-size: 36px;
      padding: 8px;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &::before {
    content: "";
    background-image: url(../images/gallery/shape.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    width: 450px;
    height: 450px;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0 0 115px #7b61ff);
    bottom: -25%;
    left: -10%;
  }
}
