mixin mainStyle(newLinks = [])
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css")
  link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' )
  // Additional Styles for this page 
  - for (var i = 0; i < newLinks.length; i++)
    link(rel="stylesheet", href =newLinks[i])
  // Main Style 
  link(rel="stylesheet", href ="css/main.css")


mixin mainScript(newScripts = [])
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js")
  // Additional Scripts for this page 
  - for (var i = 0; i < newScripts.length; i++)
    script(src= newScripts[i])
  // Main Script 
  script(src="./js/script.js" type="module")