include ./abstracts/_functions
include ./abstracts/_variables
include ./abstracts/_mixins
- let currentPage = "index";
doctype html
html(lang="en" , dir="ltr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{projectName} - Home
    +mainStyle( direction , [])
  body 
    //- Start NavBar
    include ./layout/_navbar.pug 
    //- End NavBar

    //- Start footer
    include ./layout/_footer.pug 
    //- End footer

    //- Start Scripts 
    +mainScript()
