footer.footer
    .container
        .row.align-items-center.justify-content-center.g-5
            .col-12.col-md-5 
                img.footer__logo(src="./images/footer-logo.webp" alt="")
                h2.footer__title Dental Care for the Whole Family
            .col-12.col-md-3
                h3.footer__address__header Address 
                p.footer__address__description Germany — #[br] 785 15h Street, Office 478 Berlin, De 81566
                .footer__social 
                    a.footer__social__item(href="") #[img(src="./images/footer/twitter.svg" alt="")]
                    a.footer__social__item(href="") #[img(src="./images/footer/facebook.svg" alt="")]
                    a.footer__social__item(href="") #[img(src="./images/footer/instagram.svg" alt="")]
                    a.footer__social__item(href="") #[img(src="./images/footer/snapchat.svg" alt="")]
                    a.footer__social__item(href="") #[img(src="./images/footer/whatsapp.svg" alt="")]
