.header.wow.bounceInDown
    .container
        .header__wrapper 
            a(href="./index.html").header__logo
                img(src=imgPath('logo'), alt="")
            .header__nav
                a.header__nav__item.active(href="./index.html") Home
                a.header__nav__item(href="./about-dr-arefeh.html") Dr.Arefeh
                a.header__nav__item(href="./services.html") Services
                a.header__nav__item(href="./vlog.html") Vlog
                a.header__nav__item(href="./contact.html") Contacts
            .header__actions 
                button.book-now
                    a(href="") Book Now
                .burger-icon 
                    i.fa-solid.fa-bars-staggered
                i.fa-solid.fa-magnifying-glass
                input(type="text")